<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136604765510-oh1e99ejjirecqg9evp2k69lv837vs1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136604765510-oh1e99ejjirecqg9evp2k69lv837vs1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAqIZJsfuseOYRsHcG8rzPZ9S6EQHaGX9E</string>
	<key>GCM_SENDER_ID</key>
	<string>136604765510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-4dbd3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-4dbd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136604765510:ios:3211d4b10d0b2c3eb92947</string>
</dict>
</plist>